*{
    margin: 0;
    padding: 0;
}
.wrapper{
    background-image: url(./gradient-bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player{
    padding: 0.5rem 1rem;
    border-radius:15px ;
    backdrop-filter: blur(10px);
    background-color: rgba(218, 218, 218, 0.385);
    position: absolute;
    top:20vh;
}
.win{
    background-color: rgba(1, 199, 1, 0.725);
}
.game{
    padding: 2.5rem;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(218, 218, 218, 0.322);
    width: 13rem;
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.elements{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
}
.rb{
    border-bottom:white 2.5px solid;
    border-right:white 2.5px solid;
}
.b{
    border-bottom:white 2.5px solid;
}
.r{
    border-right: white 2.5px solid;
}
#reset{
    position: relative;
    top:10vh;
    backdrop-filter: blur(10px);
    background-color: rgba(218, 218, 218, 0.322);
    border: none;
    padding:1rem;
    border-radius: 15px;
}